.gradle
**/build/
!**/src/**/build/

# IntelliJ
.idea/
*.iml

# IDE Starter cache
out/

# OS files
.DS_Store

# Ignore Gradle GUI config
gradle-app.setting

# Keep Gradle wrapper
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Cache
.gradletasknamecache

# Eclipse (optional)
.project
.classpath
